li {
  cursor: pointer;
}
/*----------------
	  Couleurs
	  -----------------*/
body {
  width: 100%;
  background: url(../img/wallpaper.png) no-repeat center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
div.container {
  height: 100%;
  width: 100%;
}
div.gauche {
  height: 532px;
  width: 557px;
  float: left;
  margin-top: 50px;
  margin-right: 536px;
  text-align: center;
}
div.gauche .img-responsive {
  margin-left: 100px;
}
div.gauche .menu {
	  margin-top:40px;
}

div.gauche div.menu a {
  margin-right: 25px;
}
div.gauche h1 {
  font-family: OptimusPrincepsSemiBold;
  font-size: 37px;
  color: white;
  margin-top: 80px;
}
div.gauche a.btn {
  margin-top: 20px;
  font-size: 23px;
  color: white;
  margin-top: 60px;
  width: 345px;
  height: 60px;
  text-align: center;
  margin-top: 45px;
}
div.droite {
  height: 700px;
  width: 400px;
  float: left;
  margin-top: 50px;
}
div.droite input[type=checkbox] {
  border-radius: 8px;
}
div.droite div.formulaire {
  background-color: rgba(192, 192, 192, 0.3);
  height: 188px;
  width: 375px;
  float: left;
  padding-top: 37px;
  padding-left: 33px;
}
div.droite div.formulaire p1 {
  font-size: 14px;
  color: white;
  font-style: bold;
}
div.droite div.formulaire p2 {
  font-size: 14px;
  font-style: italic;
  color: #5596CE;
  margin-left: 15px;
}
div.droite div.formulaire input[type=email] {
  width: 320px;
  height: 33px;
  border-radius: 8px;
  margin-bottom: 10px;
  padding-left: 5px;
}
div.droite div.formulaire input[type=password] {
  width: 150px;
  height: 33px;
  border-radius: 8px;
  margin-bottom: 10px;
  padding-left: 5px;
}
div.droite div.formulaire input[type=submit] {
  width: 150px;
  height: 33px;
  border-radius: 8px;
  margin-bottom: 2px;
  margin-left: 4px;
  padding-left: 5px;
}
div.droite div.formulaire h3 {
  font-size: 15px;
  color: red;
}
div.droite div.inscription {
  background-color: rgba(192, 192, 192, 0.3);
  height: 322px;
  width: 380px;
  float: left;
  padding-top: 27px;
  padding-left: 33px;
  margin-top: 45px;
}
div.droite div.inscription p3 {
  font-size: 20px;
  color: white;
}
div.droite div.inscription input[type=text] {
  width: 320px;
  height: 33px;
  border-radius: 8px;
  margin-top: 10px;
  padding-left: 5px;
}
div.droite div.inscription input[type=email] {
  width: 320px;
  height: 33px;
  border-radius: 8px;
  margin-top: 10px;
  padding-left: 5px;
}
div.droite div.inscription input[type=password] {
  width: 320px;
  height: 33px;
  border-radius: 8px;
  margin-top: 10px;
  padding-left: 5px;
}
div.droite div.inscription input[type=submit] {
  float: left;
  width: 150px;
  height: 33px;
  border-radius: 8px;
  margin-top: 15px;
  padding-left: 5px;
}
/*----------------
	  Responsive
	  -----------------*/
@media (max-width: 480px) {
  button[type="submit"] {
    float: none !important;
    width: 100% !important;
  }
  #main_menu li {
    display: block !important;
  }
  #main_menu li:after {
    content: " " !important;
  }
}
