html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  width: 100%;
  background-color: black;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* reset */
body,
h1,
h2,
h3,
p {
  font-family: 'MuseoSans100';
}
p {
  font-size: 1.2em;
  color: #818181;
}
header {
  width: 100%;
  height: 130px;
  background-color: #000000;
<<<<<<< HEAD
  position: absolute;
  top:0px;
  left: 0px;
=======
  position: fixed;
>>>>>>> ba2b841541cd11933782ba82ccc55fe7b1c48ccb
  border-bottom: solid white 1px;
  z-index: 500;
}
header #logo {
  float: left;
  margin-left: 20px;
  margin-top: 10px;
}
header nav {
  width: 70%;
  height: 100%;
  float: right;
}
header nav li {
  display: inline-block;
  float: left;
  padding-left: 8%;
  padding-top: 3%;
}
header nav li h1 {
  font-size: 1.5em;
  text-align: center;
  color: #ffffff;
  padding-top: 5px;
}
header nav li #login {
  width: 220px;
  height: 40px;
  background-color: #c84a4a;
  border: solid black 1px;
  margin-left: 1%;
}
header nav li #login h1 {
  font-family: 'ChaparralProRegular';
  font-size: 1.3em;
  color: #ffffff;
  text-align: center;
  padding-top: 5%;
}
#video {
  width: 100%;
<<<<<<< HEAD
  height: 450px;
  background-color: black;
=======
  height: 684px;
  background: black ;
>>>>>>> ba2b841541cd11933782ba82ccc55fe7b1c48ccb
  -webkit-background-size: cover;
  background-size: cover;
  border-bottom: solid white 1px;
}
<<<<<<< HEAD
/*
=======
>>>>>>> ba2b841541cd11933782ba82ccc55fe7b1c48ccb
#video #home2 {
  border-bottom: solid white 1px;
}
#video #home2 #menu2 {
  width: 100%;
  height: 10px;
  padding-top: 120px;
}
#video #home2 #menu2 nav {
  width: 100%;
  height: 100px;
  float: left;
}
#video #home2 #menu2 nav li {
  display: inline-block;
  float: left;
  padding-left: 20px;
}
#video #home2 #menu2 nav li h1 {
  font-size: 1.3em;
  text-align: left;
  color: white;
  padding-top: 40px;
}
#video #home2 #menu2 nav li h2 {
  font-size: 1.3em;
  text-decoration: underline;
  text-align: left;
  color: white;
  padding-top: 40px;
}
#video #home2 #search {
  width: 100%;
  height: 200px;
  background-color: #000000;
  z-index: 1;
  padding-top: 130px;
}
#video #home2 #search #insearch {
  width: 376px;
  height: 45px;
  background-color: #464646;
  border: none;
  -webkit-border-radius: 25px 25px 25px 25px;
  border-radius: 10px 10px 10px 10px;
  color: white;
  font-size: 1.7em;
  margin-top: 5%;
  padding-left: 10px;
  font-family: 'MuseoSans100';
}
#video #home2 #search #btnsearch {
  width: 71px;
  height: 45px;
  background-color: #464646;
  border: none;
  -webkit-border-radius: 25px 25px 25px 25px;
  border-radius: 10px 10px 10px 10px;
  color: #ffffff;
  font-size: 1.2em;
  padding-top: 6px;
  padding-left: 10px;
  margin-left: 10px;
  margin-top: 10px;
  font-family: 'MuseoSans100';
}
<<<<<<< HEAD
*/
=======
>>>>>>> ba2b841541cd11933782ba82ccc55fe7b1c48ccb
#video #snippet {
  float: left;
  margin-left: 1%;
  margin-bottom: 10px;
<<<<<<< HEAD
  margin-top: 136px;
}
#video .containsnippet {
  padding-top: 100px;
  margin-top: 36px;
=======
  padding-top: 100px;
}
#video .containsnippet {
  padding-top: 100px;
>>>>>>> ba2b841541cd11933782ba82ccc55fe7b1c48ccb
}
#video .containsnippet h1 {
  font-size: 1.4em;
  color: white;
  font-family: 'MuseoSans100';
}
#video .containsnippet h2 {
  color: #818181;
  padding-top: 5px;
  font-size: 1.5em;
  font-family: 'DINRegular';
}
#video #btnbot {
  width: 230px;
  height: 67px;
  background-color: #c84a4a;
  padding-right: 10px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin-top: 30px;
  margin-bottom: 20px;
<<<<<<< HEAD
  margin-left: 0;
=======
>>>>>>> ba2b841541cd11933782ba82ccc55fe7b1c48ccb
}
#video #btnbot h1 {
  text-align: center;
  font-family: 'DINRegular';
  font-size: 1.4em;
  color: white;
  padding-top: 10%;
}
<<<<<<< HEAD

#play{
	background: #000;
}

=======
>>>>>>> ba2b841541cd11933782ba82ccc55fe7b1c48ccb
#play .informations {
  padding-bottom: 45px;
}
#play .informations h1 {
<<<<<<< HEAD
  font-family: 'MuseoSans100';
=======
>>>>>>> ba2b841541cd11933782ba82ccc55fe7b1c48ccb
  padding-top: 46px;
  font-size: 1.4em;
  color: white;
}
#play .informations h2 {
<<<<<<< HEAD
  font-family: 'MuseoSans100';
=======
>>>>>>> ba2b841541cd11933782ba82ccc55fe7b1c48ccb
  color: white;
  padding-top: 5px;
  font-size: 1.3em;
  margin-top: 20px;
}
#play .informations #twitterfb {
  padding-top: 16px;
  border-bottom: solid white 1px;
}
#play .player {
  padding-bottom: 45px;
  border-bottom: solid white 1px;
}
#play .player h1 {
  padding-top: 45px;
  padding-bottom: 45px;
  font-size: 1.4em;
  color: white;
<<<<<<< HEAD
  font-family: 'MuseoSans100';
=======
>>>>>>> ba2b841541cd11933782ba82ccc55fe7b1c48ccb
}
#play .player p {
  text-align: justify;
  font-family: 'MuseoSans100';
  font-size: 22px;
  padding-top: 5px;
  margin-top: 20px;
}
<<<<<<< HEAD
#trainer{
	background-color: #000;
}
=======
>>>>>>> ba2b841541cd11933782ba82ccc55fe7b1c48ccb
#trainer .train {
  height: 230px;
  border-bottom: solid white 1px;
}
#trainer .train img {
  margin-top: 20px;
  border-radius: 100%;
}
#trainer .train .trainer-presentation {
  width: 230px;
  position: absolute;
}
#trainer .train .extrain {
  width: 490px;
  position: relative;
  float: right;
}
#trainer .train .extrain h1 {
  padding-top: 45px;
  padding-bottom: 10px;
  font-size: 1.4em;
  color: white;
<<<<<<< HEAD
  font-family: 'MuseoSans100';
=======
>>>>>>> ba2b841541cd11933782ba82ccc55fe7b1c48ccb
}
#trainer .train .extrain h2 {
  color: white;
  padding-top: 5px;
  font-size: 1.3em;
  margin-top: 20px;
  text-decoration: underline;
<<<<<<< HEAD
  font-family: 'MuseoSans100';
=======
>>>>>>> ba2b841541cd11933782ba82ccc55fe7b1c48ccb
}
#trainer .train .extrain p {
  color: white;
  padding-top: 5px;
  font-size: 1.3em;
  margin-top: 20px;
<<<<<<< HEAD
  font-family: 'MuseoSans100';
=======
>>>>>>> ba2b841541cd11933782ba82ccc55fe7b1c48ccb
}
#questions {
  border-bottom: solid white 1px;
  padding-bottom: 45px;
  position: relative;
<<<<<<< HEAD
  background-color: #000;
=======
>>>>>>> ba2b841541cd11933782ba82ccc55fe7b1c48ccb
}
#questions #btnq {
  width: 355px;
  height: 47px;
  background-color: #c84a4a;
  margin-top: 30px;
  margin-bottom: 40px;
}
#questions #btnq h1 {
  text-align: center;
  font-size: 1.3em;
  color: white;
  padding-top: 12px;
<<<<<<< HEAD
  font-family: 'MuseoSans100';
=======
>>>>>>> ba2b841541cd11933782ba82ccc55fe7b1c48ccb
}
#questions img {
  position: relative;
}
#questions h2 {
  font-size: 1.4em;
  padding-bottom: 20px;
  color: white;
  position: relative;
  margin-top: -26px;
  margin-left: 30px;
<<<<<<< HEAD
  font-family: 'MuseoSans100';
=======
>>>>>>> ba2b841541cd11933782ba82ccc55fe7b1c48ccb
}
#questions #btnq2 {
  width: 483px;
  height: 57px;
  background-color: #666666;
  margin-top: 30px;
  margin-bottom: 20px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
#questions #btnq2 h1 {
  text-align: center;
  font-size: 1.5em;
  color: white;
  padding-top: 15px;
<<<<<<< HEAD
  font-family: 'MuseoSans100';
}
#others {
  padding-bottom: 30px;
  background-color: #000;
=======
}
#others {
  padding-bottom: 30px;
  margin-bottom: 41px;
  margin-top: 58px;
>>>>>>> ba2b841541cd11933782ba82ccc55fe7b1c48ccb
}
#others img {
  margin-left: 10%;
}
#others h1 {
  color: white;
  font-family: 'ChaparralProRegular';
  font-size: 1.4em;
  margin-top: 10px;
}
#others h2 {
  margin-left: 10%;
  color: white;
  font-family: 'ChaparralProRegular';
  font-size: 1.2em;
  margin-top: 6px;
<<<<<<< HEAD
  font-family: 'MuseoSans100';
}
#others p {
  margin-left: 10%;
  font-family: 'MuseoSans100';
=======
}
#others p {
  margin-left: 10%;
>>>>>>> ba2b841541cd11933782ba82ccc55fe7b1c48ccb
}
#others .othersvid h1 {
  color: #C0C0C0;
  font-family: 'OptimusPrincepsSemiBold';
  font-size: 1.6em;
  margin-top: 34px;
  margin-bottom: 34px;
}
#points {
  text-align: center;
  padding-top: 32px;
  margin-left: 10%;
}
footer {
  width: 100%;
  border-top: solid 1px white;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #000000;
}
footer h1 {
  text-align: center;
  color: #C0C0C0;
  padding-bottom: 30px;
  font-size: 1.4em;
}
footer h2 {
  font-size: 1.2em;
  color: #C0C0C0;
  padding-top: 5px;
  text-align: center;
}
/* FONTS */
@font-face {
  font-family: 'MuseoSans100';
  src: url('../font/Museo/museosans-100.eot');
  src: url('../font/Museo/museosans-100.eot') format('embedded-opentype'), url('../font/Museo/museosans-100.woff2') format('woff2'), url('../font/Museo/museosans-100.woff') format('woff'), url('../font/Museo/museosans-100.ttf') format('truetype'), url('../font/Museo/museosans-100.svg#MuseoSans100') format('svg');
}
@font-face {
  font-family: 'ChaparralProRegular';
  src: url('../font/chapparal/chaparralpro-regular.eot');
  src: url('../font/chapparal/chaparralpro-regular.eot') format('embedded-opentype'), url('../font/chapparal/chaparralpro-regular.woff2') format('woff2'), url('../font/chapparal/chaparralpro-regular.woff') format('woff'), url('../font/chapparal/chaparralpro-regular.ttf') format('truetype'), url('../font/chapparal/chaparralpro-regular.svg#ChaparralProRegular') format('svg');
}
@font-face {
  font-family: 'FuturaCondensedBQRegular';
  src: url('../font/futura/futuracondensedbq-extrabold.eot');
  src: url('../font/futura/futuracondensedbq-extrabold.eot') format('embedded-opentype'), url('../font/futura/futuracondensedbq-extrabold.woff2') format('woff2'), url('../font/futura/futuracondensedbq-extrabold.woff') format('woff'), url('../font/futura/futuracondensedbq-extrabold.ttf') format('truetype'), url('../font/futura/futuracondensedbq-extrabold.svg#FuturaCondensedBQRegular') format('svg');
}
@font-face {
  font-family: 'DINRegular';
  src: url('../font/dinabold/dinbold.eot');
  src: url('../font/dinabold/dinbold.eot') format('embedded-opentype'), url('../font/dinabold/dinbold.woff2') format('woff2'), url('../font/dinabold/dinbold.woff') format('woff'), url('../font/dinabold/dinbold.ttf') format('truetype'), url('../font/dinabold/dinbold.svg#DINRegular') format('svg');
}
/* HOVER VIDEO */
.jm-item {
  display: inline-block;
  text-align: left;
}
.jm-item-wrapper {
  position: relative;
}
.jm-item-image {
  position: relative;
  overflow: hidden;
}
.jm-item-image img {
  display: block;
}
.jm-item-overlay {
  background: #000;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: opacity 0.5s ease-in 0s;
  -moz-transition: opacity 0.5s ease-in 0s;
  -o-transition: opacity 0.5s ease-in 0s;
  transition: opacity 0.5s ease-in 0s;
}
.jm-item-wrapper:hover .jm-item-overlay {
  opacity: 0.3;
}
.jm-item-button {
  text-align: center;
  position: absolute;
  left: 50%;
  margin-left: -25px;
}
.jm-item-button a {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  color: #FFFFFF;
  font-size: 1.2em;
  line-height: 50px;
  -webkit-transition: all 0.2s ease-in 0s;
  -moz-transition: all 0.2s ease-in 0s;
  -o-transition: all 0.2s ease-in 0s;
  transition: all 0.2s ease-in 0s;
  text-decoration: none !important;
  display: block;
}
.second .jm-item-description {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  top: 100%;
  -webkit-transition: all 0.5s ease-in 0s;
  -moz-transition: all 0.5s ease-in 0s;
  -o-transition: all 0.5s ease-in 0s;
  transition: all 0.5s ease-in 0s;
}
.second .jm-item-wrapper:hover .jm-item-description {
  top: 0;
}
